body {
    background-color: #192841;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.navbar-brand {
    font-size: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userGuesses {
    font-size: 21px;
}

.rightWrongGuess {
    background-color: green;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    color: white;
}